In [1]:
import seaborn as sb
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
data=pd.read_csv('E:\\data analayz\\5\\data\\house.csv')
data

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63,1,True,True,True,Shahran,1850000000,61666.67
1,60,1,True,True,True,Shahran,1850000000,61666.67
2,79,2,True,True,True,Pardis,550000000,18333.33
3,95,2,True,True,True,Shahrake Qods,902500000,30083.33
4,123,2,True,True,True,Shahrake Gharb,7000000000,233333.33
...,...,...,...,...,...,...,...,...
3474,86,2,True,True,True,Southern Janatabad,3500000000,116666.67
3475,83,2,True,True,True,Niavaran,6800000000,226666.67
3476,75,2,False,False,False,Parand,365000000,12166.67
3477,105,2,True,True,True,Dorous,5600000000,186666.67
3478,82,2,False,True,True,Parand,360000000,12000.00

In [3]:
#data.info()
data.dtypes

Area           object
Room            int64
Parking          bool
Warehouse        bool
Elevator         bool
Address        object
Price           int64
Price(USD)    float64
dtype: object

In [4]:
data['Area']=pd.to_numeric(data['Area'],errors='coerce')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3479 entries, 0 to 3478
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Area        3473 non-null   float64
 1   Room        3479 non-null   int64
 2   Parking     3479 non-null   bool
 3   Warehouse   3479 non-null   bool
 4   Elevator    3479 non-null   bool
 5   Address     3456 non-null   object
 6   Price       3479 non-null   int64
 7   Price(USD)  3479 non-null   float64
dtypes: bool(3), float64(2), int64(2), object(1)
memory usage: 146.2+ KB

In [5]:
data.replace({True:1,False:0},inplace=True)
data

C:\Users\ghost\AppData\Local\Temp\ipykernel_1628\4228065804.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.replace({True:1,False:0},inplace=True)

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63.0,1,1,1,1,Shahran,1850000000,61666.67
1,60.0,1,1,1,1,Shahran,1850000000,61666.67
2,79.0,2,1,1,1,Pardis,550000000,18333.33
3,95.0,2,1,1,1,Shahrake Qods,902500000,30083.33
4,123.0,2,1,1,1,Shahrake Gharb,7000000000,233333.33
...,...,...,...,...,...,...,...,...
3474,86.0,2,1,1,1,Southern Janatabad,3500000000,116666.67
3475,83.0,2,1,1,1,Niavaran,6800000000,226666.67
3476,75.0,2,0,0,0,Parand,365000000,12166.67
3477,105.0,2,1,1,1,Dorous,5600000000,186666.67
3478,82.0,2,0,1,1,Parand,360000000,12000.00

In [6]:
data.isnull().sum() #جمع پرو خالیو بهم بگو

Area           6
Room           0
Parking        0
Warehouse      0
Elevator       0
Address       23
Price          0
Price(USD)     0
dtype: int64

In [7]:
data.dropna(inplace=True)#حذف خالی ها
data.isnull().sum()

Area          0
Room          0
Parking       0
Warehouse     0
Elevator      0
Address       0
Price         0
Price(USD)    0
dtype: int64

In [8]:
data.duplicated().sum()#تعداد تکراری ها

208

In [9]:
data.drop_duplicates(inplace=True)
data.duplicated().sum()

0

In [10]:
data.reset_index(inplace=True,drop=True)#پاک کرد ردیف ایندکس رو
data

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63.0,1,1,1,1,Shahran,1850000000,61666.67
1,60.0,1,1,1,1,Shahran,1850000000,61666.67
2,79.0,2,1,1,1,Pardis,550000000,18333.33
3,95.0,2,1,1,1,Shahrake Qods,902500000,30083.33
4,123.0,2,1,1,1,Shahrake Gharb,7000000000,233333.33
...,...,...,...,...,...,...,...,...
3237,63.0,1,1,1,0,Feiz Garden,1890000000,63000.00
3238,86.0,2,1,1,1,Southern Janatabad,3500000000,116666.67
3239,83.0,2,1,1,1,Niavaran,6800000000,226666.67
3240,105.0,2,1,1,1,Dorous,5600000000,186666.67
3241,82.0,2,0,1,1,Parand,360000000,12000.00

In [12]:
b=set(data['Address'])
#s={}
add=dict()
for s,i in enumerate(b):
    add.update({i:s})
add

{'Mahmoudieh': 0,
 'Parastar': 1,
 'Railway': 2,
 'Javadiyeh': 3,
 'Seyed Khandan': 4,
 'Varamin - Beheshti': 5,
 'Tajrish': 6,
 'Pishva': 7,
 'Northern Janatabad': 8,
 'Sadeghieh': 9,
 'Shahr-e-Ziba': 10,
 'Dehkade Olampic': 11,
 'Air force': 12,
 'Southern Janatabad': 13,
 'Taslihat': 14,
 'Keshavarz Boulevard': 15,
 'Mehrabad River River': 16,
 'Gholhak': 17,
 'Shahedshahr': 18,
 'ShahrAra': 19,
 'Robat Karim': 20,
 'Afsarieh': 21,
 'Vahidieh': 22,
 'Aliabad South': 23,
 'Shahrake Gharb': 24,
 'Shadabad': 25,
 'Enghelab': 26,
 'Dorous': 27,
 'Dezashib': 28,
 'Tehransar': 29,
 'Aqdasieh': 30,
 'Azarbaijan': 31,
 'Eskandari': 32,
 'Amirabad': 33,
 'Southern Chitgar': 34,
 'Malard': 35,
 'Fallah': 36,
 'Amirieh': 37,
 'Punak': 38,
 'Baghestan': 39,
 'Bahar': 40,
 'Islamshahr Elahieh': 41,
 'Elahieh': 42,
 'Darband': 43,
 'Azadshahr': 44,
 'Vanak': 45,
 'Darabad': 46,
 'Alborz Complex': 47,
 'Shahran': 48,
 'Khavaran': 49,
 'Hekmat': 50,
 'Salsabil': 51,
 'Baqershahr': 52,
 'Gandhi': 53,
 'Firoozkooh Kuhsar': 54,
 'Komeil': 55,
 'Zafar': 56,
 'Araj': 57,
 'Nawab': 58,
 'Vahidiyeh': 59,
 'Mehrabad': 60,
 'Hor Square': 61,
 'Gisha': 62,
 'North Program Organization': 63,
 'Pirouzi': 64,
 'Northern Suhrawardi': 65,
 'Ghiyamdasht': 66,
 'Waterfall': 67,
 'Hakimiyeh': 68,
 'East Ferdows Boulevard': 69,
 'Pakdasht KhatunAbad': 70,
 'Amir Bahador': 71,
 'Ray - Montazeri': 72,
 'Rudhen': 73,
 'Fatemi': 74,
 'Tehran Now': 75,
 'Ahang': 76,
 'Salehabad': 77,
 'Yaftabad': 78,
 'Mehran': 79,
 'Abuzar': 80,
 'Dolatabad': 81,
 'Hassan Abad': 82,
 'Ekbatan': 83,
 'Jordan': 84,
 'Azari': 85,
 'Naziabad': 86,
 'Northren Jamalzadeh': 87,
 'West Pars': 88,
 'Qarchak': 89,
 'Damavand': 90,
 'Lavasan': 91,
 'Sattarkhan': 92,
 'Ostad Moein': 93,
 'Chidz': 94,
 'Niavaran': 95,
 'Qasr-od-Dasht': 96,
 'Atabak': 97,
 'Abazar': 98,
 'Villa': 99,
 'Golestan': 100,
 'Chardivari': 101,
 'Ray - Pilgosh': 102,
 'Ajudaniye': 103,
 'Ghoba': 104,
 'Shahrake Madaen': 105,
 'Majidieh': 106,
 'Pasdaran': 107,
 'Republic': 108,
 'Mahallati': 109,
 'Abbasabad': 110,
 'Daryan No': 111,
 'Safadasht': 112,
 'Firoozkooh': 113,
 'Kazemabad': 114,
 'Ozgol': 115,
 'Zaferanieh': 116,
 'Central Janatabad': 117,
 'Northern Chitgar': 118,
 'Si Metri Ji': 119,
 'Kook': 120,
 'Garden of Saba': 121,
 'Kahrizak': 122,
 'Ray': 123,
 'Yakhchiabad': 124,
 'Argentina': 125,
 'Shahrake Shahid Bagheri': 126,
 'Shoosh': 127,
 'Karimkhan': 128,
 'Karoon': 129,
 'Heravi': 130,
 'Pakdasht': 131,
 'Saadat Abad': 132,
 'West Ferdows Boulevard': 133,
 'Qazvin Imamzadeh Hassan': 134,
 'Southern Program Organization': 135,
 'Andisheh': 136,
 'Marzdaran': 137,
 'Boloorsazi': 138,
 'Valiasr': 139,
 'Nasim Shahr': 140,
 'Sohanak': 141,
 'Zargandeh': 142,
 'Qalandari': 143,
 'Feiz Garden': 144,
 'Chahardangeh': 145,
 'Narmak': 146,
 'Water Organization': 147,
 'Gheitarieh': 148,
 'Pardis': 149,
 'Razi': 150,
 'Kamranieh': 151,
 'Parand': 152,
 'Southern Suhrawardi': 153,
 'Heshmatieh': 154,
 'Koohsar': 155,
 'Telecommunication': 156,
 'Zibadasht': 157,
 'Jeyhoon': 158,
 'Eram': 159,
 'Mirdamad': 160,
 'Haft Tir': 161,
 'Shahryar': 162,
 'Beryanak': 163,
 'Absard': 164,
 'Shahrake Azadi': 165,
 'Shams Abad': 166,
 'Darakeh': 167,
 'Shahrake Qods': 168,
 'Chardangeh': 169,
 'Persian Gulf Martyrs Lake': 170,
 'Tarasht': 171,
 'Velenjak': 172,
 'Moniriyeh': 173,
 'Mirza Shirazi': 174,
 'Elm-o-Sanat': 175,
 'Yousef Abad': 176,
 'Tenant': 177,
 'Nezamabad': 178,
 'Islamshahr': 179,
 'Shahrake Quds': 180,
 'Ekhtiarieh': 181,
 'Shahrake Apadana': 182,
 'Farmanieh': 183,
 'Sabalan': 184,
 'SabaShahr': 185,
 'Khademabad Garden': 186,
 'Lavizan': 187,
 'Thirteen November': 188,
 'Shahrakeh Naft': 189,
 'Hashemi': 190,
 'East Pars': 191}

In [13]:
c=['a','b','c','e']#مثال
for i,j in enumerate(c): #اولی جایگاه دومی خودش
    print(i,j)

0 a
1 b
2 c
3 e

In [14]:
data.replace(add,inplace=True)#مثال
data

C:\Users\ghost\AppData\Local\Temp\ipykernel_1628\4230873339.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.replace(add,inplace=True)

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63.0,1,1,1,1,48,1850000000,61666.67
1,60.0,1,1,1,1,48,1850000000,61666.67
2,79.0,2,1,1,1,149,550000000,18333.33
3,95.0,2,1,1,1,168,902500000,30083.33
4,123.0,2,1,1,1,24,7000000000,233333.33
...,...,...,...,...,...,...,...,...
3237,63.0,1,1,1,0,144,1890000000,63000.00
3238,86.0,2,1,1,1,13,3500000000,116666.67
3239,83.0,2,1,1,1,95,6800000000,226666.67
3240,105.0,2,1,1,1,27,5600000000,186666.67
3241,82.0,2,0,1,1,152,360000000,12000.00

In [15]:
add['Shahran']#مثال

48

In [16]:
data.info()#همه چی درسته

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3242 entries, 0 to 3241
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Area        3242 non-null   float64
 1   Room        3242 non-null   int64
 2   Parking     3242 non-null   int64
 3   Warehouse   3242 non-null   int64
 4   Elevator    3242 non-null   int64
 5   Address     3242 non-null   int64
 6   Price       3242 non-null   int64
 7   Price(USD)  3242 non-null   float64
dtypes: float64(2), int64(6)
memory usage: 202.8 KB

In [20]:
x=data.iloc[:,:6]
y=data['Price']

In [21]:
x.shape

(3242, 6)

In [22]:
y.shape

(3242,)

ماشین لرنینک (نیاز به یادگیری نیست)

In [32]:
from sklearn.preprocessing import scale
x=scale(x)
y=scale(y)

C:\Users\ghost\anaconda3\Lib\site-packages\sklearn\preprocessing\_data.py:261: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn(

In [33]:
from sklearn.linear_model import Ridge

In [34]:
model=Ridge()
model.fit(x,y)

Ridge()

In [41]:
test=np.array([[65.0,3,0,1,1,183]])
test.shape

(1, 6)

In [42]:
model.predict(test)

array([35.16610504])